body {
    display: flex;
    flex-direction: column;
    font-family: 'Poor Story', serif;
    background-color: black;
  }

  .header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 72px;
    font-weight: 300;
    padding: 30px;
  }
  .body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .picture {
    width: 150px;
    height: auto;
    padding: 30px;
  }

.container {
    padding: 32px;

    display: flex;
    flex-wrap: wrap;
    
}
.quiz {   
    color: white;
    border: 8px;
    border-color: white;
    font-size: 32px;
    font-weight: 300;
    padding: 16px;
    margin: 16px;
    width: 300px;
  }
  p {
    color: white;
    font-size: 32px;
    font-weight: 300;
  }
  .butts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    width: 300px;
    height: 75px;
    padding: 10px;
    background-color:black;
    color:white;
    border-color: white;
    border-radius:10px;
  }
