html {
  height: 100%;
}

body {
  font-family: "Poor Story", serif;
  background: linear-gradient(180deg, rgb(47, 47, 47), rgb(18, 18, 18));
  margin: 32px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  margin: 0;
  padding: 0;
  gap: 0;
}

#title p {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

#title {
  margin: auto 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.picture {
  object-fit: cover;
}

#img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 30px auto auto;
  align-items: center;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 20px 30px;
  width: 300px;
  align-items: center;
}

#quiz ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#quiz li {
  padding: 4px;
}

button {
  width: 300px;
  height: 75px;
  background: rgb(85,85,85);
  color: rgb(250,240,230);
  border-color: rgb(250,240,230);
  border-radius: 10px;
  font-family: "Poor Story", serif;
  font-size: 1.25rem;
  text-transform: capitalize;
}

button:hover {
  background: rgb(31, 31, 31);
}

button:active {
  background: linear-gradient(0deg, rgb(24, 24, 24), rgb(9, 9, 9));
  border-color: rgb(255, 255, 255);
  color: rgb(255, 242, 221);
}

#butts {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

/* Loading Image Circle */
#img #loading {
  animation: spin 2s linear infinite;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid rgb(0, 0, 0.2);
  border-right-color: rgb(245, 239, 239);
  animation: loading-animation 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Animation to Show the Loading Rotating */
@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 48rem) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr;
  }
  #img {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }

  #quiz {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }
  header h1 {
    font-size: 3rem;
  }
  #title p {
    font-size: 1.75rem;
  }
  button {
    width: 300px;
    height: 50px;
    border-radius: 7px;
    font-size: 1.15rem;
  }

  #butts {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 0 0;
  }
}

.foda-se {
  display: inline-block;
  }

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 25% { transform: rotate(10deg); }
 75% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}

.wiggle {
  animation: wiggle 0.5s;
}