html {
  height: 100%;
}

body {
  font-family: "Poor Story", serif;
  background: linear-gradient(180deg, rgb(51,51,51), rgb(17,17,17));
  margin: 32px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header h1 {
  color: rgb(250,240,230);
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  margin: 0;
  padding: 0;
  gap: 0;
}

#title p {
  color: rgb(250,240,230);
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

#title {
  margin: auto 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

#img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 30px auto auto;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 20px 30px;
  width: 300px;
  align-items: center;
}

#quiz ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#quiz li {
  padding: 4px;
}

button {
  width: 300px;
  height: 75px;
  background: rgb(85,85,85);
  color: rgb(250,240,230);
  border-color: rgb(250,240,230);
  border-radius: 10px;
  font-family: "Poor Story", serif;
  font-size: 1.25rem;
  text-transform: capitalize;
}

button:hover {
  background: rgb(88, 88, 88);
  color: rgb(17,17,17);
  border-color: rgb(238,217,196);
}

button:active {
  background: rgb(119,119,119);
  border-color: rgb(217,185,155);
  color: rgb(17,17,17);
}

#butts {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

@media (max-width: 48rem) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr;
  }
  #img {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto auto;
  }
  #quiz {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }
  header h1 {
    font-size: 3rem;
  }
  #title p {
    font-size: 1.75rem;
  }
  button {
    width: 300px;
    height: 50px;
    border-radius: 7px;
    font-size: 1.15rem;
  }
  #butts {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 0 0;
  }
}